.taxicontainer{
    display:inline-block;
    width:90px;
    height:90px;
    position:absolute;

  .planeImageContainer
  {
    width:100%;
    height:100%;
    position:absolute;
    display:flex;

    border-radius: 10px;
      &:hover{
        cursor:pointer;
      }
    img{

	    margin-left: auto;
      margin-right:auto;
      margin-bottom:auto;
      margin-top:auto;
	    display: block;
      width:75px;
    }
  }
}